<div class="ui secondary menu">
    <div class="ui right item">
      <button class='mini ui blue button'><a href="/logout">Log Out</a></button>
    </div>
  </div>

<h1> Grocery Categories <h1>
<h4>Please click on the grocery category you wish to shop from:</h4>  
<br>    
      {{#each all}}
          <div class="mTitle">
            <a href="/product/{{this.id}}">
              <button class= "btn btn-light category">{{this.category}}</button>
            </a>
          </div>
      {{/each}}

      
    

