<div id="productDiv">
  <button class="btn btn-info goback" id="prevBttn">Go Back To Previous</button>
  <button class='btn btn-info' id="prodlogoutBttn"><a href="/logout">Log Out</a></button>
</div>
<br>
<h1>Products</h1>

<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script type="text/javascript" src="/js/category.js"></script>

<div class ="container products">

  {{#each all}}
    <div class="row">
      <div class="col-6 item"><a href='#'>{{this.item}}</a></div>
      <div class="col-6 price">{{this.price}}</div>
    </div>   
  {{/each}}

    <div class="ui long modal foodModal">
	    <div class="header">
        <div class = "actions clearfix grid">
          <div style="float: left; width: auto"><button class="ui green neutral button toCart column">Add to Cart</button></div>
          <div style="float: left; width: 70%" class="column mTitle">Nutritional Information</div>
          <div style="float: right;width: auto"><button class="ui orange cancel button column">Cancel</button></div>
        </div>
      </div>  
      <div class="content">
        <!-- CONTENT WILL BE ADDED HERE !!!!! -->
      </div>         
    </div>

</div> 

