form.signup,
form.login {
  margin-top: 50px;
  color: black;
  font-weight: bold;
}

body {
  background-image: url('/img/grocerystore.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.mTitle, h1, h4 {
  text-align: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

a {
  font-size: 15px;
  color: darkslategray;
  font-weight: strong;
}

.products {
  margin-left: 25%;
  margin-right: 25%;
  color: darkslategray;  
  font-weight: strong;
  background: white;  
}
